In [7]:
import pandas as pd
df = pd.read_excel("TransactionHistory-3_mon.xls")
df.columns = df.columns.str.replace(" ","_")
drop_columns = ['S_No.','Value_Date','Transaction_Remarks']
df.drop(drop_columns,axis = 1, inplace=True)
# df.rename({})
df.head()

  Transaction_Date  ...  Balance_(INR_)
0       02/04/2021  ...        87129.19
1       02/04/2021  ...        89129.19
2       02/04/2021  ...        87129.19
3       02/04/2021  ...        89129.19
4       02/04/2021  ...        84129.19

[5 rows x 4 columns]